.gallery {
  display: grid; /* inline-grid yerine */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 40px;
  list-style: none;
  padding: 0;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.item {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
